<nav class="bg-gray-10 text-white">
  <div
    class="flex justify-between items-center 2xl:px-40 2xl:py-5 lg:px-16 md:px-8 md:py-4 px-4 py-5"
  >
    <!-- Logo -->
    <a href="#">
      <img src="icons/logo.svg" class="logo-icon" />
    </a>

    <!-- Hamburger Icon (Mobile) -->
    <button
      class="md:hidden text-white focus:outline-none"
      (click)="toggleSidebar()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25"
        />
      </svg>
    </button>

    <!-- Links (Desktop) -->
    <div class="hidden md:flex md:items-center 2xl:space-x-8 md:space-x-6">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-item"
        >Home</a
      >
      <a routerLink="/about" routerLinkActive="active" class="nav-item"
        >About</a
      >
      <a routerLink="/properties" routerLinkActive="active" class="nav-item"
        >Properties</a
      >
      <a href="#" class="nav-item">Services</a>
    </div>
    <div class="hidden md:flex md:items-center md:space-x-4">
      <a href="#" class="nav-item active">Contact</a>
    </div>
  </div>
</nav>

<!-- Overlay -->
<div
  class="fixed inset-0 bg-black bg-opacity-50 transition-opacity"
  *ngIf="sidebarOpen"
  (click)="toggleSidebar()"
></div>

<!-- Sidebar (Right Side) -->
<div
  class="fixed inset-y-0 right-0 w-64 bg-gray-10 text-white transform transition-transform duration-300 ease-in-out"
  [class.translate-x-0]="sidebarOpen"
  [class.translate-x-full]="!sidebarOpen"
>
  <div class="flex justify-end p-4">
    <button class="text-white focus:outline-none" (click)="toggleSidebar()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
  </div>

  <div class="flex flex-col space-y-4 p-4">
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-item"
      >Home</a
    >
    <a routerLink="/about" routerLinkActive="active" class="nav-item">About</a>
    <a routerLink="/properties" routerLinkActive="active" class="nav-item"
      >Properties</a
    >
    <a href="#" class="nav-item">Services</a>
    <a href="#" class="nav-item">Contact</a>
  </div>
</div>
