<div
  class="h-full flex flex-col rounded-xl shadow-inset-1-gray-custom bg-gray-8 2xl:gap-7 2xl:p-10 lg:gap-5 lg:p-7 p-6 gap-4"
>
  <div class="2xl:h-80 lg:h-64 h-52 overflow-hidden flex-shrink-0">
    <img
      [src]="data.houseImg"
      alt="Example Image"
      class="w-full h-full object-cover rounded-lg"
    />
  </div>

  <div class="h-full flex flex-col gap-7 justify-between">
    <div class="flex flex-col gap-7">
      <div *ngIf="type == propertyTypes.standard" class="highlight">
        <span>{{ data.quote }}</span>
      </div>
      <div class="flex flex-col gap-1.5">
        <span
          class="font-semibold leading-normal text-white 2xl:text-2xl lg:text-xl text-lg"
          >{{ data.name }}</span
        >
        <p class="line-clamp-1 relative">
          {{ type == propertyTypes.detailed ? data.details : data.advert }}
          <a href="#" class="read-more">... Read More</a>
        </p>
      </div>
      <div
        *ngIf="type == propertyTypes.detailed"
        class="flex flex-wrap 2xl:gap-2.5 gap-1.5"
      >
        <div class="highlight">
          <img src="icons/bed.svg" />
          <span>{{ data.bedrooms }}-Bedroom</span>
        </div>
        <div class="highlight">
          <img src="icons/bath.svg" />
          <span>{{ data.bathroom }}-Bathroom</span>
        </div>
        <div class="highlight">
          <img src="icons/building-office.svg" />
          <span>{{ data.houseType }}</span>
        </div>
      </div>
    </div>

    <div class="flex flex-row 2xl:gap-12 lg:gap-10 gap-5">
      <div class="w-2/6 flex flex-col 2xl:gap-0.5">
        <p>Price</p>
        <span
          class="font-semibold 2xl:text-2xl lg:text-xl text-lg leading-normal text-white"
          >${{ data.pricing | number }}</span
        >
      </div>
      <button class="w-4/6 btn-purple">View Property Details</button>
    </div>
  </div>
</div>
