@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Urbanist", sans-serif;
  background-color: black;
}

p {
  @apply font-medium text-gray-60 leading-normal;
  @apply 2xl:text-lg lg:text-base text-sm;
}

.btn-gray {
  @apply shadow-inset-1-gray-custom btn;
  @apply bg-gray-10 hover:bg-gray-15;
}

.btn-purple {
  @apply btn bg-purple-60 hover:bg-purple-65;
}

.btn {
  @apply font-medium rounded-lg text-white leading-normal;
  @apply 2xl:px-6 2xl:py-4 2xl:text-lg lg:py-4 px-3 py-3.5 text-sm;
}

.heading {
  @apply font-semibold text-white leading-normal 2xl:text-5xl lg:text-4xl text-2xl;
}

.logo-icon {
  @apply 2xl:w-40 2xl:h-12 md:w-28 md:h-8 w-24 h-7;
}

.sections {
  @apply w-full flex flex-col 2xl:pb-24 2xl:px-40 2xl:pt-36 2xl:gap-36 lg:pb-16 lg:pt-28 lg:px-20 lg:gap-14 md:px-8 pt-20 px-4 gap-20 pb-20;
}
