<!-- Header Section -->
<div
  class="header-section 2xl:gap-3.5 2xl:pt-36 2xl:pr-[400px] 2xl:pb-24 2xl:pl-40 lg:pt-24 lg:pr-48 lg:pb-24 lg:pl-20 md:px-8 gap-2.5 px-4 py-12"
>
  <span class="heading">Elevate Your Real Estate Experience</span>
  <p>
    Welcome to Estatein, where your real estate aspirations meet expert
    guidance. Explore our comprehensive range of services, each designed to
    cater to your unique needs and dreams.
  </p>
</div>

<!-- Services Section -->
<div
  class="grid md:grid-cols-4 grid-cols-2 2xl:gap-5 gap-2.5 p-2.5 md:rounded-none rounded-xl bg-gray-8 border-solid border border-gray-15 2xl:shadow-10-gray-custom lg:shadow-6-gray-custom shadow-4-gray-custom"
>
  <app-service-item-btn
    iconUrl="icons/building-storefront.svg"
    text="Find Your Dream Home"
  ></app-service-item-btn>
  <app-service-item-btn
    iconUrl="icons/banknotes.svg"
    text="Unlock Property Value"
  ></app-service-item-btn>
  <app-service-item-btn
    iconUrl="icons/building-office-2.svg"
    text="Effortless Property Management"
  ></app-service-item-btn>
  <app-service-item-btn
    iconUrl="icons/sun.svg"
    text="Smart Investments, Informed Decisions"
  ></app-service-item-btn>
</div>

<div class="sections">
  <!-- Values -->
  <app-section
    header="Unlock Property Value"
    text="Selling your property should be a rewarding experience, and at Estatein, we make sure it is. Our Property Selling Service is designed to maximize the value of your property, ensuring you get the best deal possible. Explore the categories below to see how we can help you at every step of your selling journey"
  >
    <div class="grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 2xl:gap-7 gap-5">
      <app-service-card
        heading="Valuation Mastery"
        text="Discover the true worth of your property with our expert valuation services."
        imgUrl="icons/chart-bar.svg"
      ></app-service-card>

      <app-service-card
        heading="Strategic Marketing"
        text="Selling a property requires more than just a listing; it demands a strategic marketing approach."
        imgUrl="icons/chart-pie.svg"
      ></app-service-card>

      <app-service-card
        heading="Negotiation Wizardry"
        text="Negotiating the best deal is an art, and our negotiation experts are masters of it."
        imgUrl="icons/circle-stack.svg"
      ></app-service-card>

      <app-service-card
        heading="Closing Success"
        text="A successful sale is not complete until the closing. We guide you through the intricate closing process."
        imgUrl="icons/megaphone.svg"
      ></app-service-card>

      <app-service-learn-more-card
        class="md:col-span-2 col-span-1"
        heading="Unlock the Value of Your Property Today"
        text="Ready to unlock the true value of your property? Explore our Property Selling Service categories and let us help you achieve the best deal possible for your valuable asset."
      ></app-service-learn-more-card>
    </div>
  </app-section>
</div>
