<!-- Header Section -->
<div
  class="header-section 2xl:gap-3.5 2xl:pt-36 2xl:pr-[400px] 2xl:pb-24 2xl:pl-40 lg:pt-24 lg:pr-48 lg:pb-24 lg:pl-20 md:px-8 gap-2.5 px-4 py-12"
>
  <span class="heading">Get in Touch with Estatein</span>
  <p>
    Welcome to Estatein's Contact Us page. We're here to assist you with any
    inquiries, requests, or feedback you may have. Whether you're looking to buy
    or sell a property, explore investment opportunities, or simply want to
    connect, we're just a message away. Reach out to us, and let's start a
    conversation.
  </p>
</div>
