<div class="w-full flex flex-col lg:gap-0 gap-10">
  <div
    class="header-section 2xl:gap-3.5 2xl:pt-36 2xl:pr-[400px] 2xl:pb-40 2xl:pl-40 lg:pt-24 lg:pr-48 lg:pb-32 lg:pl-20 md:px-8 gap-2.5 px-4 py-12"
  >
    <span class="heading">Find Your Dream Property</span>
    <p>
      Welcome to Estatein, where your dream property awaits in every corner of
      our beautiful world. Explore our curated selection of properties, each
      offering a unique story and a chance to redefine your life. With
      categories to suit every dreamer, your journey
    </p>
  </div>

  <!-- Search For A Property -->
  <div
    class="flex flex-col justify-center 2xl:-mt-14 2xl:gap-2.5 2xl:px-40 lg:-mt-11 lg:gap-0.5 lg:px-20 md:px-8 px-4 gap-5"
  >
    <div class="flex relative 2xl:px-36 lg:px-20">
      <input type="text" placeholder="Search For A Property" class="input" />
      <button
        class="absolute flex btn-purple my-auto inset-y-0 h-fit 2xl:right-40 2xl:gap-2 lg:right-24 md:gap-1.5 right-2.5 !px-5 !py-3.5"
      >
        <img src="icons/magnifying-glass.svg" class="2xl:w-6 w-5" />
        <span class="md:block hidden">Find Property</span>
      </button>
    </div>
    <div
      class="grid lg:grid-cols-5 md:grid-cols-2 rounded-xl bg-gray-10 gap-5 lg:p-2.5 p-5"
    >
      <div class="select md:!col-span-2">
        <div>
          <img src="icons/map-pin.svg" />
          <app-divider [vertical]="true"></app-divider>
        </div>
        <select>
          <option selected [value]="null">Location</option>
          <option *ngFor="let item of locations">
            {{ item }}
          </option>
        </select>
      </div>
      <div class="select">
        <div>
          <img src="icons/home-modern.svg" />
          <app-divider [vertical]="true"></app-divider>
        </div>
        <select>
          <option selected>Property Type</option>
          <option [value]="item.id" *ngFor="let item of types">
            {{ item.type }}
          </option>
        </select>
      </div>
      <div class="select">
        <div>
          <img src="icons/banknotes-solid.svg" />
          <app-divider [vertical]="true"></app-divider>
        </div>
        <select>
          <option selected>Pricing Range</option>
        </select>
      </div>
      <div class="select">
        <div>
          <img src="icons/cube.svg" />
          <app-divider [vertical]="true"></app-divider>
        </div>
        <select>
          <option selected>Property Size</option>
        </select>
      </div>
      <div class="select">
        <div>
          <img src="icons/calendar.svg" />
          <app-divider [vertical]="true"></app-divider>
        </div>
        <select>
          <option selected>Build Year</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="sections">
  <!-- Properties -->
  <app-section
    header="Discover a World of Possibilities"
    text="Our portfolio of properties is as diverse as your dreams. Explore the following categories to find the perfect property that resonates with your vision of home"
  >
    <app-cards-pagination
      [type]="cardTypes.propertiesCard"
      [propertyType]="propertyTypes.standard"
    ></app-cards-pagination>
  </app-section>

  <!-- Let's Make it Happen -->
  <app-section
    header="Let's Make it Happen"
    text="Ready to take the first step toward your dream property? Fill out the form below, and our real estate wizards will work their magic to find your perfect match. Don't wait; let's embark on this exciting journey together."
  >
    <form
      class="flex flex-col shadow-inset-1-gray-custom rounded-xl 2xl:p-24 2xl:gap-12 lg:p-12 p-5 gap-7"
    >
      <div
        class="grid xl:grid-cols-4 md:grid-cols-2 grid-cols-1 2xl:gap-12 md:gap-7 gap-5"
      >
        <!-- Row 1 -->
        <div class="form-field">
          <label>First Name</label>
          <input type="text" placeholder="Enter First Name" />
        </div>

        <div class="form-field">
          <label>Last Name</label>
          <input type="text" placeholder="Enter Last Name" />
        </div>

        <div class="form-field">
          <label>Email</label>
          <input type="text" placeholder="Enter your Email" />
        </div>

        <div class="form-field">
          <label>Phone</label>
          <input type="text" placeholder="Enter Phone Number" />
        </div>

        <!-- Row 2 -->
        <div class="form-field">
          <label>Preferred Location</label>
          <select>
            <option selected>Select Location</option>
          </select>
        </div>

        <div class="form-field">
          <label>Property Type</label>
          <select>
            <option selected>Select Property Type</option>
          </select>
        </div>

        <div class="form-field">
          <label>No. of Bathrooms</label>
          <select>
            <option selected>Select no. of Bedrooms</option>
          </select>
        </div>

        <div class="form-field">
          <label>No. of Bedrooms</label>
          <select>
            <option selected>Select no. of Bedrooms</option>
          </select>
        </div>

        <!-- Row 3 -->
        <div class="form-field md:col-span-2 grid-cols-1">
          <label>Budget</label>
          <select>
            <option selected>Select Budget</option>
          </select>
        </div>

        <div class="form-field md:col-span-2 grid-cols-1">
          <label>Preferred Contact Method</label>
          <div
            class="grid md:grid-cols-2 grid-cols-1 2xl:gap-12 md:gap-7 gap-4"
          >
            <div class="relative w-full">
              <input type="text" placeholder="Enter Your Number" />
              <img src="icons/phone.svg" />
              <input name="radio" type="radio" checked />
            </div>
            <div class="relative w-full">
              <input type="text" placeholder="Enter Your Email" />
              <img src="icons/mail.svg" />
              <input name="radio" type="radio" />
            </div>
          </div>
        </div>

        <!-- Row 4 -->
        <div class="form-field xl:col-span-4 md:col-span-2 grid-cols-1">
          <label>Message</label>
          <textarea placeholder="Enter your Message here.."></textarea>
        </div>
      </div>
      <div class="agreement-section">
        <div>
          <input type="checkbox" />
          <label
            ><p>
              I agree with <a>Terms of Use</a> and <a>Privacy Policy</a>
            </p></label
          >
        </div>
        <button>Send Your Message</button>
      </div>
    </form>
  </app-section>
</div>
