<div class="flex flex-col">
  <div
    class="flex md:flex-row-reverse md:p-0 px-4 pt-10 flex-col justify-start items-center 2xl:gap-20 lg:gap-14 md:gap-4 gap-10"
  >
    <img src="Image.webp" class="md:w-1/2 h-full -z-20" />
    <div
      class="md:w-1/2 flex flex-col justify-center items-start 2xl:gap-14 2xl:pl-40 lg:pl-16 md:pl-8 md:gap-4 gap-10"
    >
      <div
        class="flex flex-col 2xl:gap-6 lg:gap-5 gap-4 w-full relative xl:pr-2 pr-10 -z-10"
      >
        <img
          src="link-btn.svg"
          class="absolute 2xl:w-44 2xl:h-44 lg:h-32 ld:w-32 w-28 h-28 2xl:-right-[168px] lg:-right-28 md:-right-[72px] md:top-0 -top-28"
        />
        <span
          class="2xl:text-6xl lg:text-5xl text-2xl md:p-0 pt-2.5 text-white font-bold leading-tight"
          >Discover Your Dream Property with Estatein</span
        >
        <p>
          Your journey to finding the perfect property begins here. Explore our
          listings to find the home that matches your dreams.
        </p>
      </div>
      <div class="flex md:flex-row flex-col 2xl:gap-5 gap-4 text-white w-full">
        <button class="shadow-inset-1-gray-custom hover:bg-gray-15">
          Learn More
        </button>
        <button class="bg-purple-60 hover:bg-purple-65">
          Browse Properties
        </button>
      </div>
      <div class="grid grid-cols-6 2xl:gap-5 lg:gap-4 gap-3 w-full">
        <div class="hero-item-sm col-span-3">
          <span>200+</span>
          <p>Happy Customers</p>
        </div>
        <div class="hero-item-sm col-span-3">
          <span>10k+</span>
          <p>Properties For Clients</p>
        </div>
        <div class="hero-item-sm col-span-6">
          <span>16+</span>
          <p>Years of Experience</p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="grid grid-cols-4 2xl:gap-5 gap-2.5 md:p-5 p-2.5 md:m-0 mt-10 mx-4 md:rounded-none rounded-xl bg-gray-8 border-solid border border-gray-15 md:shadow-10-gray-custom shadow-4-gray-custom"
  >
    <button class="hero-item-lg">
      <img src="arrow-up-right.svg" class="hero-arrow" />
      <img src="building-storefront.svg" class="hero-bnt-icon" />
      <span>Find Your Dream Home</span>
    </button>
    <button class="hero-item-lg">
      <img src="arrow-up-right.svg" class="hero-arrow" />
      <img src="banknotes.svg" class="hero-bnt-icon" />
      <span>Unlock Property Value</span>
    </button>
    <button class="hero-item-lg">
      <img src="arrow-up-right.svg" class="hero-arrow" />
      <img src="building-office-2.svg" class="hero-bnt-icon" />
      <span>Effortless Property Management</span>
    </button>
    <button class="hero-item-lg">
      <img src="arrow-up-right.svg" class="hero-arrow" />
      <img src="sun.svg" class="hero-bnt-icon" />
      <span>Smart Investments, Informed Decisions</span>
    </button>
  </div>
</div>
