<div class="flex flex-col">
  <!-- Hero Section -->
  <div
    class="flex flex-col md:flex-row-reverse md:p-0 px-4 pt-10 justify-start items-center 2xl:gap-20 xl:gap-14 lg:gap-10 md:gap-4 gap-10"
  >
    <img src="Image.webp" class="md:w-1/2 h-full -z-20" />
    <div
      class="md:w-1/2 flex flex-col justify-center items-start 2xl:gap-14 2xl:pl-40 xl:gap-12 lg:gap-5 lg:pl-16 md:pl-8 md:gap-4 gap-10"
    >
      <div
        class="flex flex-col 2xl:gap-6 xl:gap-5 gap-1.5 w-full relative xl:pr-2 pr-10 -z-10"
      >
        <img
          src="icons/link-btn.svg"
          class="absolute 2xl:w-44 2xl:h-44 lg:h-32 lg:w-32 w-28 h-28 2xl:-right-[168px] xl:-right-28 lg:-right-24 md:-right-[72px] md:top-0 -top-28"
        />
        <span
          class="2xl:text-6xl lg:text-5xl text-2xl md:p-0 pt-2.5 text-white font-bold leading-tight"
          >Discover Your Dream Property with Estatein</span
        >
        <p>
          Your journey to finding the perfect property begins here. Explore our
          listings to find the home that matches your dreams.
        </p>
      </div>
      <div class="flex flex-col md:flex-row 2xl:gap-5 gap-4 text-white w-full">
        <button class="hero-button shadow-inset-1-gray-custom hover:bg-gray-15">
          Learn More
        </button>
        <button class="hero-button bg-purple-60 hover:bg-purple-65">
          Browse Properties
        </button>
      </div>
      <app-stats-section class="w-full"></app-stats-section>
    </div>
  </div>

  <!-- Services Section -->
  <div class="service-section">
    <app-service-item-btn
      iconUrl="icons/building-storefront.svg"
      text="Find Your Dream Home"
    ></app-service-item-btn>
    <app-service-item-btn
      iconUrl="icons/banknotes.svg"
      text="Unlock Property Value"
    ></app-service-item-btn>
    <app-service-item-btn
      iconUrl="icons/building-office-2.svg"
      text="Effortless Property Management"
    ></app-service-item-btn>
    <app-service-item-btn
      iconUrl="icons/sun.svg"
      text="Smart Investments, Informed Decisions"
    ></app-service-item-btn>
  </div>
</div>

<!-- Featured Properties Section -->
<div
  class="w-full flex flex-col 2xl:px-40 2xl:pt-36 2xl:gap-36 lg:pt-28 lg:px-20 lg:gap-14 md:px-8 pt-20 px-4 gap-20"
>
  <!-- Featured Properties Section -->
  <app-section
    header="Featured Properties"
    text='Explore our handpicked selection of featured properties. Each listing
  offers a glimpse into exceptional homes and investments available
  through Estatein. Click "View Details" for more information.'
  >
    <button class="btn-gray">View All Testimonials</button>
    <app-cards-pagination
      btnText="View All Properties"
      [type]="cardTypes.propertiesCard"
    >
      <button class="btn-gray">View All Properties</button>
    </app-cards-pagination>
  </app-section>

  <!-- Testimonials Section -->
  <app-section
    header="What Our Clients Say"
    text="Read the success stories and heartfelt testimonials from our valued
    clients. Discover why they chose Estatein for their real estate needs."
  >
    <button class="btn-gray">View All Testimonials</button>
    <app-cards-pagination [type]="cardTypes.testimonialCard">
      <button class="btn-gray">View All Testimonials</button>
    </app-cards-pagination>
  </app-section>

  <!-- FAQ Section -->
  <app-section
    header="Frequently Asked Questions"
    text="Find answers to common questions about Estatein's services, property listings, and the real estate process. We're here to provide clarity and assist you every step of the way."
  >
    <button class="btn-gray">View All FAQ's</button>
    <app-cards-pagination [type]="cardTypes.faqCard">
      <button class="btn-gray">View All FAQ's</button>
    </app-cards-pagination>
  </app-section>
</div>
