<div class="w-full flex flex-col lg:gap-0 gap-10">
  <div
    class="flex flex-col shadow-inset-1-gray-custom bg-gradient-to-br from-gray-15-85% to-55% 2xl:gap-3.5 2xl:pt-36 2xl:pr-[400px] 2xl:pb-40 2xl:pl-40 lg:gap-2.5 lg:pt-24 lg:pr-48 lg:pb-32 lg:pl-20 md:px-8 px-3.5 py-12"
  >
    <span class="heading">Find Your Dream Property</span>
    <p>
      Welcome to Estatein, where your dream property awaits in every corner of
      our beautiful world. Explore our curated selection of properties, each
      offering a unique story and a chance to redefine your life. With
      categories to suit every dreamer, your journey
    </p>
  </div>
</div>
