<!-- Header Section -->
<div
  class="header-section 2xl:gap-3.5 2xl:pt-36 2xl:pr-[400px] 2xl:pb-24 2xl:pl-40 lg:pt-24 lg:pr-48 lg:pb-24 lg:pl-20 md:px-8 gap-2.5 px-4 py-12"
>
  <span class="heading">Get in Touch with Estatein</span>
  <p>
    Welcome to Estatein's Contact Us page. We're here to assist you with any
    inquiries, requests, or feedback you may have. Whether you're looking to buy
    or sell a property, explore investment opportunities, or simply want to
    connect, we're just a message away. Reach out to us, and let's start a
    conversation.
  </p>
</div>

<!-- Services Section -->
<div
  class="grid md:grid-cols-4 grid-cols-2 2xl:gap-5 gap-2.5 p-2.5 md:rounded-none rounded-xl bg-gray-8 border-solid border border-gray-15 2xl:shadow-10-gray-custom lg:shadow-6-gray-custom shadow-4-gray-custom"
>
  <app-service-item-btn
    iconUrl="icons/mail-btn.svg"
    text="info@estatein.com"
  ></app-service-item-btn>
  <app-service-item-btn
    iconUrl="icons/phone-btn.svg"
    text="+1 (123) 456-7890"
  ></app-service-item-btn>
  <app-service-item-btn
    iconUrl="icons/map-pin-btn.svg"
    text="Main Headquarters"
  ></app-service-item-btn>
  <app-service-item-btn iconUrl="icons/logo-btn.svg">
    <nav
      class="w-full flex flex-row justify-center flex-wrap 2xl:gap-7 lg:gap-5 gap-2.5"
    >
      <a class="link">Instagram</a>
      <a class="link">LinkedIn</a>
      <a class="link">Facebook</a>
    </nav>
  </app-service-item-btn>
</div>

<div class="sections">
  <app-section
    header="Let's Connect"
    text="We're excited to connect with you and learn more about your real estate goals. Use the form below to get in touch with Estatein. Whether you're a prospective client, partner, or simply curious about our services, we're here to answer your questions and provide the assistance you need."
  >
    <!-- Contact Form -->
    <form
      class="flex flex-col rounded-xl shadow-inset-1-gray-custom 2xl:gap-12 2xl:p-24 lg:p-20 p-5 gap-7"
    >
      <div
        class="grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 xl:gap-12 gap-7"
      >
        <!-- Row 1 -->
        <div class="form-field">
          <label>First Name</label>
          <input type="text" placeholder="Enter First Name" />
        </div>

        <div class="form-field">
          <label>Last Name</label>
          <input type="text" placeholder="Enter Last Name" />
        </div>

        <div class="form-field">
          <label>Email</label>
          <input type="text" placeholder="Enter your Email" />
        </div>
        <!-- Row 2 -->
        <div class="form-field">
          <label>Phone</label>
          <input type="text" placeholder="Enter Phone Number" />
        </div>

        <div class="form-field">
          <label>Inquiry Type</label>
          <app-custom-select
            [options]="inquiryType"
            [defaultOption]="{
              value: null,
              display: 'Select Inquiry Types'
            }"
          ></app-custom-select>
        </div>

        <div class="form-field">
          <label>How Did You Hear About Us?</label>
          <app-custom-select
            [options]="howDidYouHearAboutUs"
            [defaultOption]="{
              value: null,
              display: 'Select'
            }"
          ></app-custom-select>
        </div>

        <!-- Row 3 -->
        <div class="form-field xl:col-span-3 md:col-span-2 grid-cols-1">
          <label>Message</label>
          <textarea placeholder="Enter your Message here.."></textarea>
        </div>
      </div>
      <div class="agreement-section">
        <div>
          <input type="checkbox" />
          <label
            ><p>
              I agree with <a>Terms of Use</a> and <a>Privacy Policy</a>
            </p></label
          >
        </div>
        <button>Send Your Message</button>
      </div>
    </form>
  </app-section>

  <!-- Our Offices -->
  <app-section
    header="Discover Our Office Locations"
    text="Estatein is here to serve you across multiple locations. Whether you're looking to meet our team, discuss real estate opportunities, or simply drop by for a chat, we have offices conveniently located to serve your needs. Explore the categories below to find the Estatein office nearest to you"
  >
    <div class="flex flex-col gap-12">
      <div
        class="xl:w-2/5 md:w-1/2 grid grid-cols-3 bg-gray-10 2xl:rounded-xl rounded-lg gap-2.5 p-2.5"
      >
        <button class="w-full btn-gray-8">All</button>
        <button class="w-full btn-gray">Regional</button>
        <button class="w-full btn-gray">International</button>
      </div>
      <div class="grid lg:grid-cols-2 grid-cols-1 2xl:gap-7 gap-5">
        <app-office-location-card
          heading="Main Headquarters"
          address="123 Estatein Plaza, City Center, Metropolis"
          text="Our main headquarters serve as the heart of Estatein. Located in the bustling city center, this is where our core team of experts operates, driving the excellence and innovation that define us."
          email="info@estatein.com"
          phone="+1 (123) 456-7890"
          city="Metropolis"
        ></app-office-location-card>
        <app-office-location-card
          heading="Regional Offices"
          address="456 Urban Avenue, Downtown District, Metropolis"
          text="Estatein's presence extends to multiple regions, each with its own dynamic real estate landscape. Discover our regional offices, staffed by local experts who understand the nuances of their respective markets."
          email="info@estatein.com"
          phone="+1 (123) 456-7890"
          city="Metropolis"
        ></app-office-location-card>
      </div>
    </div>
  </app-section>

  <!-- Gallery -->
  <div
    class="flex flex-col bg-[url('/contact/contact-card-abstract-design.webp')] bg-no-repeat bg-cover bg-gray-10 shadow-inset-1-gray-custom rounded-xl 2xl:p-20 lg:gap-5 lg:p-14 p-6 gap-8"
  >
    <div class="grid grid-cols-4 lg:gap-5 gap-2.5">
      <img src="/contact/Image-_1_.webp" class="col-span-2" />
      <img src="/contact/Image-_2_.webp" class="col-span-2" />
      <img src="/contact/Image-_3_.webp" class="col-span-2" />
      <img src="/contact/Image-_4_.webp" class="col-span-1" />
      <img src="/contact/Image-_5_.webp" class="col-span-1" />
    </div>
    <div class="grid items-center lg:grid-cols-2 grid-cols-1 gap-5">
      <app-section
        class="lg:mt-4"
        [isRightSection]="false"
        header="Explore Estatein's World"
        text="Step inside the world of Estatein, where professionalism meets warmth, and expertise meets passion. Our gallery offers a glimpse into our team and workspaces, inviting you to get to know us better."
      ></app-section>
      <img src="/contact/Image-_6_.webp" />
    </div>
  </div>
</div>
