<div
  class="flex flex-col 2xl:pt-24 2xl:px-40 2xl:pb-40 2xl:gap-36 lg:px-16 lg:pt-16 lg:pb-28 lg:gap-28 md:px-8 px-4 pt-12 pb-20 gap-20"
>
  <!-- Our Journey -->
  <div
    class="flex md:flex-row flex-col-reverse 2xl:gap-20 lg:gap-14 gap-10 items-center"
  >
    <app-section
      id="story"
      class="md:w-1/2 w-full"
      header="Our Journey"
      [isRightSection]="false"
      text="Our story is one of continuous growth and evolution. We started as a small team with big dreams, determined to create a real estate platform that transcended the ordinary. Over the years, we've expanded our reach, forged valuable partnerships, and gained the trust of countless clients."
    >
      <app-stats-section></app-stats-section>
    </app-section>
    <img
      src="about-us.webp"
      class="md:w-1/2 w-full rounded-xl shadow-1-gray-custom"
    />
  </div>

  <!-- Our Values -->
  <div
    class="flex lg:flex-row flex-col items-center 2xl:gap-20 lg:gap-14 gap-10"
  >
    <app-section
      header="Our Values"
      [isRightSection]="false"
      text="Our story is one of continuous growth and evolution. We started as a small team with big dreams, determined to create a real estate platform that transcended the ordinary."
      class="lg:w-1/3 w-full"
    >
    </app-section>
    <div
      class="flex flex-col rounded-xl border border-gray-15 2xl:shadow-10-gray-custom lg:shadow-8-gray-custom shadow-6-gray-custom bg-gray-8 justify-center 2xl:gap-7 2xl:p-14 lg:w-2/3 md:gap-6 md:p-12 w-full p-6 gap-5"
    >
      <div class="values-cards">
        <app-card-sm
          imgUrl="icons/star.svg"
          header="Trust"
          text="Trust is the cornerstone of every successful real estate transaction."
        ></app-card-sm>
        <app-divider [vertical]="isSmallScreen"></app-divider>
        <app-card-sm
          imgUrl="icons/academic-cap.svg"
          header="Excellence"
          text="We set the bar high for ourselves. From the properties we list to the services we provide."
        ></app-card-sm>
      </div>
      <app-divider></app-divider>
      <div class="values-cards">
        <app-card-sm
          imgUrl="icons/group.svg"
          header="Client-Centric"
          text="Your dreams and needs are at the center of our universe. We listen, understand."
        ></app-card-sm>
        <app-divider [vertical]="isSmallScreen"></app-divider>
        <app-card-sm
          imgUrl="icons/star.svg"
          header="Our Commitment"
          text="We are dedicated to providing you with the highest level of service, professionalism, and support."
        ></app-card-sm>
      </div>
    </div>
  </div>

  <!-- Our Achievements -->
  <app-section
    header="Our Achievements"
    text="Our story is one of continuous growth and evolution. We started as a small team with big dreams, determined to create a real estate platform that transcended the ordinary."
  >
    <div class="grid md:grid-cols-3 grid-cols-1 2xl:gap-10 lg:gap-7 gap-5">
      <div class="achievement-card">
        <span>3+ Years of Excellence</span>
        <p>
          With over 3 years in the industry, we've amassed a wealth of knowledge
          and experience, becoming a go-to resource for all things real estate.
        </p>
      </div>
      <div class="achievement-card">
        <span>Happy Clients</span>
        <p>
          Our greatest achievement is the satisfaction of our clients. Their
          success stories fuel our passion for what we do.
        </p>
      </div>
      <div class="achievement-card">
        <span>Industry Recognition</span>
        <p>
          We've earned the respect of our peers and industry leaders, with
          accolades and awards that reflect our commitment to excellence.
        </p>
      </div>
    </div>
  </app-section>
</div>
