<div
  class="2xl:pt-24 2xl:px-40 2xl:pb-40 lg:px-16 lg:pt-16 lg:pb-28 md:px-8 px-4 pt-12 pb-20"
>
  <!-- Our Journey -->
  <div
    class="flex md:flex-row flex-col-reverse 2xl:gap-20 lg:gap-14 gap-10 items-center"
  >
    <app-section
      id="story"
      class="md:w-1/2 w-full"
      header="Our Journey"
      [isRightSection]="false"
      text="Our story is one of continuous growth and evolution. We started as a small team with big dreams, determined to create a real estate platform that transcended the ordinary. Over the years, we've expanded our reach, forged valuable partnerships, and gained the trust of countless clients."
    >
      <app-stats-section></app-stats-section>
    </app-section>
    <img
      src="about-us.webp"
      class="md:w-1/2 w-full rounded-xl shadow-1-gray-custom"
    />
  </div>
</div>
