<div class="flex flex-col h-full">
  <div class="border-l border-purple-60 2xl:px-5 2xl:py-4 px-4 py-3.5">
    <span class="text-white font-medium leading-normal 2xl:text-xl text-base">{{
      step
    }}</span>
  </div>
  <div
    class="h-full p-[1px] bg-gradient-to-br from-purple-60 to-gray-15 to-[36%] 2xl:rounded-r-xl 2xl:rounded-bl-xl rounded-r-lg rounded-bl-lg"
  >
    <div
      class="h-full bg-gray-8 2xl:rounded-r-xl 2xl:rounded-bl-xl rounded-r-lg rounded-bl-lg"
    >
      <div
        class="h-full flex flex-col bg-gradient-to-br from-purple-60-30% to-15% 2xl:rounded-r-xl 2xl:rounded-bl-xl 2xl:gap-5 2xl:p-12 lg:gap-4 lg:p-10 gap-3.5 p-7 rounded-r-lg rounded-bl-lg"
      >
        <span
          class="text-white font-semibold leading-normal 2xl:text-2xl lg:text-xl text-lg"
          >{{ heading }}</span
        >
        <p>{{ text }}</p>
      </div>
    </div>
  </div>
</div>
