<footer>
  <div
    class="flex lg:flex-row flex-col 2xl:px-40 2xl:py-24 lg:p-20 xl:gap-20 lg:gap-0 px-4 py-12 gap-12"
  >
    <div class="flex flex-col 2xl:gap-7 lg:gap-6 lg:w-2/6 gap-5 w-full">
      <img src="icons/logo.svg" class="logo-icon" />
      <div class="relative flex items-center lg:w-3/4 w-full">
        <input type="email" placeholder="Enter Your Email" class="input" />
        <button
          class="absolute flex rounded-full h-fit hover:bg-gray-20 2xl:right-3 2xl:p-3 right-3 p-2"
        >
          <img src="icons/paper-airplane.svg" class="2xl:h-7 h-6" />
        </button>
      </div>
    </div>
    <div class="lg:flex flex-row justify-between w-4/6 hidden">
      <div class="column">
        <span>Home</span>
        <nav>
          <a [routerLink]="['/']" fragment="hero">Hero Section</a>
          <a [routerLink]="['/']" fragment="properties">Properties</a>
          <a [routerLink]="['/']" fragment="testimonials">Testimonials</a>
          <a [routerLink]="['/']" fragment="faq">FAQ</a>
        </nav>
      </div>
      <div class="column">
        <span>About Us</span>
        <nav>
          <a [routerLink]="['/about']" fragment="story">Our Story</a>
          <a [routerLink]="['/about']" fragment="works">Our Works</a>
          <a [routerLink]="['/about']" fragment="how-it-works">How It Works</a>
          <a [routerLink]="['/']" fragment="team">Our Team</a>
          <a [routerLink]="['/']" fragment="clients">Our Clients</a>
        </nav>
      </div>
      <div class="column">
        <span>Properties</span>
        <nav>
          <a [routerLink]="['/']" fragment="portfolio">Portfolio</a>
          <a [routerLink]="['/']" fragment="categories">Categories</a>
        </nav>
      </div>
      <div class="column">
        <span>Services</span>
        <nav>
          <a [routerLink]="['/']" fragment="mastery">Valuation Mastery</a>
          <a [routerLink]="['/']" fragment="marketing">Strategic Marketing</a>
          <a [routerLink]="['/']" fragment="wizardry">Negotiation Wizardry</a>
          <a [routerLink]="['/']" fragment="success">Closing Success</a>
          <a [routerLink]="['/']" fragment="management">Property Management</a>
        </nav>
      </div>
      <div class="column">
        <span>Contact Us</span>
        <nav>
          <a [routerLink]="['/']" fragment="form">Contact Form</a>
          <a [routerLink]="['/']" fragment="offices">Our Offices</a>
        </nav>
      </div>
    </div>
    <div class="flex flex-row gap-5 w-full lg:hidden h-fit">
      <div class="big-column">
        <div class="column">
          <span>Home</span>
          <nav>
            <a [routerLink]="['/']" fragment="hero">Hero Section</a>
            <a [routerLink]="['/']" fragment="properties">Properties</a>
            <a [routerLink]="['/']" fragment="testimonials">Testimonials</a>
            <a [routerLink]="['/']" fragment="faq">FAQ</a>
          </nav>
        </div>
        <div class="column">
          <span>Properties</span>
          <nav>
            <a [routerLink]="['/']" fragment="portfolio">Portfolio</a>
            <a [routerLink]="['/']" fragment="categories">Categories</a>
          </nav>
        </div>
        <div class="column">
          <span>Contact Us</span>
          <nav>
            <a [routerLink]="['/']" fragment="form">Contact Form</a>
            <a [routerLink]="['/']" fragment="offices">Our Offices</a>
          </nav>
        </div>
      </div>
      <div class="column !w-[1px]">
        <app-divider [vertical]="true" class="h-full"></app-divider>
        <app-divider [vertical]="true" class="h-full"></app-divider>
      </div>
      <div class="big-column">
        <div class="column">
          <span>About Us</span>
          <nav>
            <a [routerLink]="['/about']" fragment="story">Our Story</a>
            <a [routerLink]="['/about']" fragment="works">Our Works</a>
            <a [routerLink]="['/about']" fragment="how-it-works"
              >How It Works</a
            >
            <a [routerLink]="['/']" fragment="team">Our Team</a>
            <a [routerLink]="['/']" fragment="clients">Our Clients</a>
          </nav>
        </div>
        <div class="column">
          <span>Services</span>
          <nav>
            <nav>
              <a [routerLink]="['/']" fragment="mastery">Valuation Mastery</a>
              <a [routerLink]="['/']" fragment="marketing"
                >Strategic Marketing</a
              >
              <a [routerLink]="['/']" fragment="wizardry"
                >Negotiation Wizardry</a
              >
              <a [routerLink]="['/']" fragment="success">Closing Success</a>
              <a [routerLink]="['/']" fragment="management"
                >Property Management</a
              >
            </nav>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex lg:flex-row flex-col-reverse bg-gray-10 w-full justify-between 2xl:px-40 2xl:py-4 lg:px-20 lg:py-3 px-4 py-5 gap-5"
  >
    <div
      class="flex lg:flex-row flex-col text-white font-medium items-center 2xl:gap-9 2xl:text-lg lg:py-2.5 lg:gap-5 lg:text-sm gap-2.5"
    >
      <span>&#64;2023 Estatein. All Rights Reserved.</span>
      <span>Terms & Conditions</span>
    </div>
    <div
      class="flex flex-row items-center lg:justify-end justify-center 2xl:py-2.5 2xl:gap-2.5 gap-2 p-0"
    >
      <button class="social-media">
        <img src="icons/facebook.svg" />
      </button>
      <button class="social-media">
        <img src="icons/linked-in.svg" />
      </button>
      <button class="social-media">
        <img src="icons/twitter.svg" />
      </button>
      <button class="social-media">
        <img src="icons/youtube.svg" />
      </button>
    </div>
  </div>
</footer>
