<div class="flex flex-col 2xl:gap-20 lg:gap-14 gap-10">
  <div class="flex flex-row">
    <div
      class="flex flex-col gap-3.5 relative"
      [ngClass]="{ 'md:w-3/4': isRightSection }"
    >
      <app-stars-divider></app-stars-divider>
      <span class="heading">{{ header }}</span>
      <p>
        {{ text }}
      </p>
    </div>
    <div
      *ngIf="isRightSection"
      class="md:w-1/4 md:flex md:justify-end md:items-end hidden"
    >
      <ng-content select="button"></ng-content>
    </div>
  </div>
  <ng-content></ng-content>
</div>
