@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Urbanist", sans-serif;
  background-color: black;
}

p {
  @apply font-medium text-gray-60 leading-normal;
  @apply 2xl:text-lg lg:text-base text-sm;
}

.btn-gray {
  @apply shadow-inset-1-gray-custom btn;
  @apply bg-gray-10 hover:bg-gray-15;
}
.btn-gray-8 {
  @apply shadow-inset-1-gray-custom btn h-fit;
  @apply bg-gray-8 hover:bg-gray-15;
  @apply 2xl:px-6 2xl:py-4 px-5 py-3.5;
}

.btn-purple {
  @apply btn bg-purple-60 hover:bg-purple-65;
}

.btn {
  @apply font-medium rounded-lg text-white leading-normal;
  @apply 2xl:px-6 2xl:py-4 2xl:text-lg lg:py-4 px-3 py-3.5 text-sm;
}

.heading {
  @apply font-semibold text-white leading-normal 2xl:text-5xl lg:text-4xl text-2xl;
}

.logo-icon {
  @apply 2xl:w-40 2xl:h-12 md:w-28 md:h-8 w-24 h-7;
}

.sections {
  @apply w-full flex flex-col 2xl:pb-24 2xl:px-40 2xl:pt-36 2xl:gap-36 lg:pb-16 lg:pt-28 lg:px-20 lg:gap-28 md:px-8 pt-20 px-4 gap-20 pb-20;
}

.arrow-btn {
  @apply flex justify-center items-center rounded-full shadow-inset-1-gray-custom;
  @apply 2xl:p-3.5 2xl:w-14 p-2.5 w-11;
}

.form-field {
  @apply flex w-full flex-col 2xl:gap-4 md:gap-3.5 gap-2.5;
}

.form-field label {
  @apply text-white font-semibold leading-normal 2xl:text-xl text-base;
}

.form-field > input {
  @apply bg-gray-10 shadow-inset-1-gray-custom rounded-lg placeholder-gray-40 text-gray-40 font-medium leading-5;
  @apply 2xl:px-5 2xl:py-6 2xl:text-lg 2xl:rounded-lg px-5 py-4 rounded-md text-sm;
  @apply focus:outline-none 2xl:focus:ring-2 md:focus:ring-1 focus:ring-gray-20;
}

.form-field select {
  background-image: url(/icons/select-arrow.svg);
  background-repeat: no-repeat;
  background-position-y: 50%;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  @apply bg-gray-10 shadow-inset-1-gray-custom rounded-lg placeholder-gray-40 text-gray-40 font-medium leading-5;
  @apply focus:outline-none 2xl:focus:ring-2 md:focus:ring-1 focus:ring-gray-20;
  @apply 2xl:px-5 2xl:py-6 2xl:text-lg 2xl:rounded-lg px-5 py-4 rounded-md text-sm;
  @apply 2xl:bg-[length:32px_32px] 2xl:bg-[center_right_20px] md:bg-[center_right_14px] bg-[length:28px_28px] bg-[center_right_10px];
}

.form-field > div {
  @apply relative w-full;
}

.form-field > textarea {
  @apply bg-gray-10 shadow-inset-1-gray-custom rounded-lg resize-none placeholder-gray-40 text-gray-40 font-medium leading-5;
  @apply 2xl:px-5 2xl:py-6 2xl:text-lg 2xl:rounded-lg 2xl:h-40 md:h-28 h-20 px-5 py-4 rounded-md text-sm;
  @apply focus:outline-none 2xl:focus:ring-2 md:focus:ring-1 focus:ring-gray-20;
}

.agreement-section {
  @apply flex md:flex-row flex-col justify-between md:gap-0 gap-5 md:items-center items-start;
}

.agreement-section > div {
  @apply flex flex-row gap-2.5 h-fit;
}

.agreement-section input {
  @apply appearance-none cursor-pointer rounded border 2xl:w-7 2xl:h-7 w-6 h-6 bg-gray-10 checked:bg-purple-60 bg-opacity-0 checked:bg-[url('/icons/check.svg')] border-gray-15 checked:border-purple-60;
}

.agreement-section button {
  @apply btn-purple md:w-fit w-full;
}

.agreement-section a {
  @apply underline;
}

.header-section {
  @apply flex flex-col shadow-inset-1-gray-custom bg-gradient-to-br from-gray-15-85% to-55%;
}
